.DS_Store
    ../../.copilot/
        ../../.gitconfig
        ../../.lesshst
        ../../.node_repl_history
        ../../.vscode-shared/
        ../../.vscode/
        ../../AppData/
        ../
        ../../Contacts/
        ../../CrossDevice/
        ../../Downloads/
        ../../Favorites/
        ../../Links/
        ../../Module-Structuring-and-Testing-Data/
        ../../Music/
        ../../NCH Software Suite/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{76f768a5-39fc-11f1-95fd-f93b623de810}.TM.blf
        ../../NTUSER.DAT{76f768a5-39fc-11f1-95fd-f93b623de810}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{76f768a5-39fc-11f1-95fd-f93b623de810}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Saved Games/
        ../../Searches/
        ../../UsersalmzjCYFProject-terminal-tic-tac-toe/
        ../../Videos/
        ../../convertToPercentage.js
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../source/
